.Notification-Info {
    border-style: solid;
    border-width: medium;
    border-color: green;

    padding: 5px;

    color: green;
    background-color: lightgray;
    font-size: 120%;
}

.Notification-Error {
    border-style: solid;
    border-width: medium;
    border-color: red;

    padding: 5px;

    color: red;
    background-color: lightpink;
    font-size: 120%;
}